---
IncludeBlocks: Preserve
IndentWidth: 4
SortIncludes: Never
SortUsingDeclarations: 'false'
NamespaceIndentation: None
IndentPPDirectives: AfterHash
SpacesInParentheses: false
SpacesInContainerLiterals: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
AllowShortLambdasOnASingleLine: "Empty"
ColumnLimit: 160
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: InlineOnly
DerivePointerAlignment: false
AlwaysBreakTemplateDeclarations: Yes
InsertNewlineAtEOF: true
SkipMacroDefinitionBody: true
...
